
body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }

#map {
    position: fixed;
    width: 40%;
}
#features {
    overflow-y: scroll;
    width: 59%;
    margin-left: 40.5%;
    margin-right: 0.5%;
}

#start {
    padding-left: 15%;
    padding-right: 15%;
}

.returnbtn {
    left: 42%;
}

@media (max-width: 900px) {
    #features {
        width: 100%;
        margin-left: 0;
    }
    #map {
        display: none;
    }
    .returnbtn {
        left: 30px;
    }
    
  }

  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
  .grid-item {
      padding: 5px;
  }
  
  .grid-item img {
      border-radius: 7px;
  }
  
  .grid-sizer,
  .grid-item {
    width: 33%;
  }

  @media (max-width: 900px) {
    .grid-sizer,
    .grid-item {
      width: 50%;
    }
    .location {
        padding-right: 10px;
    }
  }
  @media (min-width: 420px) and (max-width: 900px) {
    .grid-sizer,
    .grid-item {
      width: 50%;
    }
  }
  @media (min-width: 0px) and (max-width: 420px) {
    #start {
      padding-left: 0%;
      padding-right: 0%;
  }
  }

  .location {
    padding-left: 10px;
  }

section {
    border-bottom: none;
    opacity: 0.25;
}
section.active {
    opacity: 1;
}
section:last-child {
    border-bottom: none;
    margin-bottom: 200px;
}

.navbar-toggler {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn {
  border-radius: 7px;
}

  .container-arrow{
    font-weight: bold;
    text-transform: uppercase;
    color:rgb(205, 205, 205);
    display: inline-block;
    text-align: center;
    position: relative;
    bottom:0px;left:0;
    z-index: 10;
    width:100%;
    padding-bottom: 100px;
    cursor: pointer;
  }
  
  .container-arrow:hover,
  .container-arrow:focus{text-decoration: none;}
  .container-arrow span{  display: inline-block; font-size: 60px;  animation: 1s down  infinite alternate; -webkit-animation: 1s down infinite alternate; } 
  @keyframes down{ 0%{transform:translateY(0px)} 100%{transform:translateY(15px)} } 
  @-webkit-keyframes down{ 0%{-webkit-transform:translateY(0px)} 100%{-webkit-transform:translateY(15px)} } 
  .container-arrow span{  display: inline-block; font-size: 60px;}
  
  .text-responsive {
    font-size: calc(100% + 1vw + 1vh);
  }

  @media (min-width: 544px) {  
    h1 {font-size:1.5rem;} /*1rem = 16px*/
  }
   
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {  
    h1 {font-size:2rem;} /*1rem = 16px*/
  }
   
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    h1 {font-size:2.5rem;} /*1rem = 16px*/
  }
   
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
    h1 {font-size:3rem;} /*1rem = 16px*/    
  }

  * { box-sizing: border-box; }

/* To change the amount of columns on larger devices, uncomment the code below */

/* @media (min-width: 768px) and (max-width: 991px) {
  .grid-sizer,
  .grid-item {
    width: 33.333%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .grid-sizer,
  .grid-item {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .grid-sizer,
  .grid-item {
    width: 20%;
  }
} */

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}
  

